<div class="branding-fonts">
  <div class="branding-fonts-item">
    <div class="branding-fonts-text">
      <div class="branding-fonts-text-title main-text">Inter</div>
      <div class="branding-fonts-text-role">{{- i18n "brandingFontTextMain" | safeHTML -}}</div>
      <a href="https://rsms.me/inter">{{- i18n "brandingFontLink" | safeHTML -}}<span class="external-link-symbol">↗</span></a>
    </div>
  </div>
  <div class="branding-fonts-item">
    <div class="branding-fonts-text">
      <div class="branding-fonts-text-title monospace-text">Fira Code</div>
      <div class="branding-fonts-text-role">{{- i18n "brandingFontTextMonospace" | safeHTML -}}</div>
      <a href="https://github.com/tonsky/FiraCode">{{- i18n "brandingFontLink" | safeHTML -}}<span class="external-link-symbol">↗</span></a>
    </div>
  </div>
  <div class="branding-fonts-item">
    <div class="branding-fonts-text">
      <div class="branding-fonts-text-title heading-text">Ubuntu Titling</div>
      <div class="branding-fonts-text-role">{{- i18n "brandingFontTextHeadings" | safeHTML -}}</div>
      <a href="https://www.fontsquirrel.com/fonts/ubuntu-titling">{{- i18n "brandingFontLink" | safeHTML -}}<span class="external-link-symbol">↗</span></a>
    </div>
  </div>
</div>
