{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <div class="news-list-toolbar list-toolbar">
      {{- partial "components/searchbox.html" (dict "id" "news-searchbox") -}}
    </div>
    <ul class="news-list" id="news-list">
      {{- range .Pages.ByDate.Reverse -}}
        <li class="news-list-item" title="{{- .Title | safeHTML -}}" data-searchId="{{ .RelPermalink }}">
          {{- partial "components/news-item.html" . -}}
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
