{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div role="main" class="container content content-container">
    <!-- Markdown content -->
    <article role="main">
      {{- .Content -}}
    </article>

    <!-- Video -->
    <div class="features-video">
      {{- partial "components/youtube-player.html" (dict "id" "vt07FwzLo9A") -}}
    </div>

    <!-- Features -->
    <ul class="features-list">
      {{- partial "components/features-item.html" (dict
        "Title" (i18n "featuresMultiplatform" | safeHTML)
        "Text" (i18n "featuresMultiplatformDesc" | safeHTML)
        "Image" "/img/features/multiplatform.webp"
        )
      -}}
      {{- partial "components/features-item.html" (dict
        "Title" (i18n "featuresGameEditor" | safeHTML)
        "Text" (i18n "featuresGameEditorDesc" | safeHTML)
        "Image" "/img/features/editor.webp"
        "Inverted" true
        )
      -}}
      {{- partial "components/features-item.html" (dict
        "Title" (i18n "featuresGameLauncher" | safeHTML)
        "Text" (i18n "featuresGameLauncherDesc" | safeHTML)
        "Image" "/img/features/launcher.webp"
        )
      -}}
      {{- partial "components/features-item.html" (dict
        "Title" (i18n "featuresARPG" | safeHTML)
        "Text" (i18n "featuresARPGDesc" | safeHTML)
        "Image" "/img/features/arpg.webp"
        "Inverted" true
        )
      -}}
      {{- partial "components/features-item.html" (dict
        "Title" (i18n "featuresOpenSource" | safeHTML)
        "Text" (i18n "featuresOpenSourceDesc" | safeHTML)
        "Image" "/img/features/opensource.webp"
        )
      -}}
    </ul>

    <!-- CTA -->
    <div class="features-cta">
      <h2>{{- i18n "featuresReady" | safeHTML -}}</h2>
      <p>{{- i18n "featuresReadyDesc" | safeHTML -}}</p>
      <div class="features-cta-buttons">
        {{- partial "components/button.html" (dict
          "text" (i18n "homeDownload" | safeHTML)
          "icon" "download"
          "href" "/download"
          "class" "home-cta-button")
        -}}
        {{- partial "components/button.html" (dict
          "text" (i18n "homeGettingStarted" | safeHTML)
          "icon" "arrow-right"
          "href" .Site.Params.tutorialsURL
          "role" "secondary"
          "align" "right"
          "class" "home-cta-button")
        -}}
      </div>
    </div>
  </div>
{{- end -}}
