.about-items {
  margin: 0;
  list-style: none;
  display: grid;
  gap: $spacing-base;
  grid-template-columns: 1fr 1fr;

  li {
    padding: 0;
    margin: 0;
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    grid-template-columns: 1fr;
  }
}

.about-item {
  display: flex;
  flex-direction: row;
  gap: $spacing-base * 2;
  align-items: center;
  padding: #{$spacing-base * 1.5} #{$spacing-base * 2};
  border-radius: $border-radius;
  background-color: $color-secondary;
  color: $color-text;
  height: 100%;
  outline-offset: 0;
  box-shadow: $elevation-1;

  &:hover {
    background-color: $color-secondary-hover;
    box-shadow: $elevation-2;
    transform: scale(1.015);
    -webkit-transform: scale(1.015);
  }
  &:active,
  &:focus {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    outline-offset: 0;
    background-color: $color-secondary-pressed;
    box-shadow: $elevation-3;
  }

  .icon {
    width: $icon-height * 2;
    height: $icon-height * 2;

    svg,
    svg path {
      fill: $color-text;
    }
  }

  .about-item-texts {
    flex-grow: 1;
    font-weight: normal;
    height: 100%;
  }

  .about-item-title {
    font-size: $font-size-title-small;
    margin-bottom: $spacing-base / 2;
  }

  .about-item-excerpt {
    color: $color-text-caption;
  }
}
