.branding-colors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $spacing-base;
  justify-content: center;
  margin-bottom: $spacing-base * 2;

  .branding-colors-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-base;
    justify-content: center;
  }

  .branding-colors-item {
    width: 10ch;
    height: 10ch;
    border-radius: $border-radius / 2;
    box-shadow: $elevation-1;
    vertical-align: bottom;
    padding: #{$spacing-base / 2} #{$spacing-base};
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .branding-color-text {
      color: $color-text-emphase;
      text-align: right;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
      font-family: $font-family-code;

      &::selection {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
      }
    }

    &.primary {
      background-color: $color-primary;
    }
    &.primary-light {
      background-color: $color-primary-pressed;
    }
    &.secondary {
      background-color: $color-secondary;
    }
    &.secondary-light {
      background-color: $color-secondary-light;
    }
  }
}

.branding-fonts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-base;
  justify-content: center;
  margin-bottom: $spacing-base * 2;

  .branding-fonts-item {
    display: flex;
    flex-direction: column;
    gap: $spacing-base;
    align-items: center;
    color: $color-secondary;
    padding: #{$spacing-base / 2} #{$spacing-base};
    background-color: $color-text-emphase;
    border-radius: $border-radius / 2;
    width: calc(calc(100% - #{$spacing-base * 2}) / 3);
    box-shadow: $elevation-1;

    @media (max-width: $breakpoint-tablet-landscape) {
      min-width: calc(calc(100% - #{$spacing-base * 1}) / 2);
    }

    @media (max-width: $breakpoint-tablet-portrait) {
      min-width: calc(calc(100% - #{$spacing-base * 2}) / 3);
    }

    @media (max-width: $breakpoint-phone-portrait) {
      min-width: 100%;
    }

    .branding-fonts-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;

      .branding-fonts-text-title {
        color: $color-secondary-lightest;
        font-size: $font-size-title-big;
        line-height: auto;
        margin-bottom: 0;
        margin-top: auto;

        &.main-text {
          font-family: $font-family;
        }

        &.monospace-text {
          font-family: $font-family-code;
        }

        &.heading-text {
          font-family: $font-family-title;
        }
      }

      .branding-fonts-text-role {
        margin-top: auto;
      }
    }
  }
}

.branding-logo {
  margin-left: auto;
  margin-right: auto;
  border-radius: $border-radius;
  margin-bottom: $spacing-base;
  overflow: hidden;
  box-shadow: $elevation-1;
  width: fit-content;
  width: 60%;
  padding: 0;

  &.small {
    max-width: 30%;
  }

  img {
    padding: #{$spacing-base * 2} #{$spacing-base * 3};
    width: 100%;
    height: auto;
    margin: 0;
  }

  .branding-logo-caption {
    padding: #{$spacing-base / 2} $spacing-base;
    background-color: transparentize($color-background-overlay, 0.25);
    text-align: center;
    color: $color-text-emphase;
  }

  &.dark {
    background-color: $color-secondary;
  }

  &.light {
    background-color: white;
  }
}
