.breadcrumb-container {
  padding: 0;

  @media (max-width: $breakpoint-phone-portrait) {
    display: none;
  }
}

.breadcrumb {
  font-size: $font-size-caption;
  padding-top: $spacing-base * 4;
  padding-left: $content-padding;
  padding-right: $content-padding;
  padding-bottom: $spacing-base / 2;
  background-color: $color-background-breadcrumb;
  min-height: $spacing-base * 6;

  .breadcrumb-items {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: $spacing-base / 2;
    align-items: center;

    a {
      color: $color-text-caption;
      font-weight: normal;

      &:hover {
        color: $color-link-hover;
      }
    }

    .breadcrumb-item {
      display: inline;

      &.current {
        color: $color-text;
      }
    }

    .icon {
      width: $icon-height;
      height: $icon-height;
      color: $color-text-caption-darker;

      svg,
      svg path {
        fill: currentColor;
      }
    }
  }

  .breadcrumb-separator {
    color: $color-text-caption-darker;
    user-select: none;
    margin: 0 #{$spacing-base / 4};
  }
}
