$maxDownloadWidth: $breakpoint-tablet-portrait;

.download-package {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing-base * 4;
  max-width: $maxDownloadWidth;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .download-package-logo {
    width: $icon-height * 4;
    height: $icon-height * 4;
    margin: 0;
    margin-bottom: $spacing-base * 2;
  }
}

.download-package-separator {
  margin-bottom: $spacing-base * 4;
  width: 60%;
  max-width: $maxDownloadWidth;
  border-color: $color-secondary-disabled-foreground;
}

.download-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-base * 2;
  justify-content: center;
  margin: #{$spacing-base * 2} 0;
}

.download-item {
  display: flex;
  flex-direction: column;
  gap: $spacing-base / 4;
  background-color: $color-secondary-light;
  padding: $spacing-base #{$spacing-base * 3};
  border-radius: $border-radius;
  flex-grow: 0;
  align-items: center;
  box-shadow: $elevation-1;

  @media (max-width: $breakpoint-phone-portrait) {
    padding: $spacing-base;
    width: 100%;
    display: grid;
    grid-template-columns: #{$icon-height * 2} 100fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $spacing-base;
  }

  .download-item-platform-logo {
    .icon {
      width: $icon-height * 1.5;
      height: $icon-height * 1.5;

      svg {
        height: 100%;
        width: 100%;
      }
      svg path {
        fill: $color-text;
      }
    }
  }

  .download-item-platform-name {
    color: $color-text-title;
    text-align: center;
    min-width: 100%;
    margin-bottom: $spacing-base / 2;
    font-weight: bold;
    font-size: $font-size-title-medium;
    font-family: $font-family-title;

    @media (max-width: $breakpoint-phone-portrait) {
      text-align: left;
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-phone-portrait-medium) {
      display: none;
    }
  }

  .download-item-button {
    margin: auto;
    margin-bottom: $spacing-base / 4;

    @media (max-width: $breakpoint-phone-portrait) {
      grid-column: 4;
      margin-bottom: 0;
    }
  }

  .download-item-metadata {
    font-size: $font-size-caption;
    font-weight: normal;
    color: $color-text-caption;
    display: flex;
    flex-direction: row;
    gap: $spacing-base / 4;

    span {
      word-wrap: none;
    }

    .download-item-metadata-bullet {
      pointer-events: none;
      user-select: none;
    }

    @media (max-width: $breakpoint-phone-portrait) {
      grid-column: 3;
      grid-row: 1;
    }
    @media (max-width: #{$breakpoint-phone-portrait-small + 120px}) {
      display: none;
    }
  }
}
