.game-header {
  background-color: $color-secondary-pressed;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 0;
  padding: 0;

  @media (max-width: $breakpoint-tablet-portrait) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $breakpoint-phone-portrait) {
    margin-top: $navbar-height;
  }

  .game-header-left-column {
    .game-header-thumbnail {
      width: 100%;
      height: auto;
    }

    .game-header-metadata {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: $spacing-base #{$spacing-base * 5};
      gap: $spacing-base;

      @media (max-width: $breakpoint-phone-portrait) {
        padding: $spacing-base #{$spacing-base * 2};
      }

      .game-download-metadata {
        color: $color-text-caption;
        font-size: $font-size-caption;
      }

      h1,
      p {
        margin: 0;
      }
    }

    .game-download-metadata-bullet {
      user-select: none;
      margin: 0 #{$spacing-base / 2};
    }
  }

  .game-header-right-column {
    display: flex;
    flex-direction: column;

    //background-color: $color-background-navbar;
    h2,
    p {
      margin: 0;
    }

    h2 {
      font-size: $font-size-title-big;
      margin-top: $spacing-base * 1.5;
      margin-bottom: $spacing-base;
      margin-left: $spacing-base * 2.5;

      @media (max-width: $breakpoint-tablet-portrait) {
        display: none;
      }
    }

    .game-header-dummy-spacer {
      flex-grow: 1;
      user-select: none;
      background-color: $color-secondary;
    }
  }
}

.game-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: $spacing-base * 2.5;

  @media (max-width: $breakpoint-tablet-landscape) {
    grid-template-columns: 10fr 1fr;
  }
  @media (max-width: $breakpoint-phone-portrait) {
    grid-template-columns: 1fr;
    padding-top: $spacing-base * 2.5;
  }
}

.game-content-left-column,
.game-content-right-column {
  h2 {
    margin-top: 0;
  }
}

.game-screenshots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  gap: $spacing-base;

  .game-screenshot {
    min-width: $quest-default-width / 2;
    max-width: calc(50% - #{$spacing-base / 2});
    max-height: auto;

    &:hover {
      transform: scale(1.025);
      box-shadow: $elevation-2;
    }
    &:active {
      transform: scale(1.05);
      box-shadow: $elevation-3;
    }

    img {
      border-radius: $border-radius / 2;
    }
  }
}

.game-walkthough-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-base;
  padding: 0;
  margin-left: 0;

  .game-walkthough-list-item {
    margin: 0;
    padding: 0;

    a {
      display: flex;
      flex-direction: row;
      background-color: $color-secondary;
      border-radius: $border-radius;
      color: $color-text;
      box-sizing: border-box;
      outline-offset: 0;
      box-shadow: $elevation-1;
      align-items: center;
      padding: $spacing-base #{$spacing-base * 1.5};
      font-weight: normal;

      &:hover {
        background-color: $color-secondary-hover;
        box-shadow: $elevation-2;
        transform: scale(1.015);
        -webkit-transform: scale(1.015);
        color: $color-link-hover;
      }
      &:active,
      &:focus {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        outline-offset: 0;
        background-color: $color-secondary-pressed;
        box-shadow: $elevation-3;
        color: $color-link-active;
      }

      .game-walkthough-list-item-text {
        flex-grow: 1;
      }

      .icon {
        width: $icon-height * 1.5;
        height: $icon-height * 1.5;

        svg,
        svg path {
          fill: $color-text;
        }
      }
    }
  }
}
