$headerBg: $color-background-navbar;

header {
  background-color: $headerBg;
  backdrop-filter: $blur-2;
  box-shadow: $elevation-0;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: unset;
  z-index: 99;
  transition: background-color $animation-duration, box-shadow $animation-duration;

  &.home-header {
    background-color: transparentize($color-background-navbar, $amount: 1);
  }

  &.navbar-bg-visible {
    background-color: $headerBg;
    box-shadow: $elevation-3;
  }

  a {
    text-decoration: none;
    color: $color-text-emphase;
    font-size: $font-size;
  }

  nav {
    height: $navbar-height;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
    gap: $spacing-base;
    flex-direction: row;

    .menu-element {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin: unset;
      padding: unset;
      list-style: none;
      align-items: center;
      font-weight: $font-weight;
      min-width: 4em;
      text-align: center;
      min-height: 100%;
      font-size: $font-size;
      border-radius: 0;

      a {
        font-weight: inherit;
        font-size: inherit;
        text-align: inherit;
        display: flex;
        min-width: 100%;
        min-height: 100%;
        padding: 0 #{$spacing-base / 2};
        align-content: center;
        align-items: center;
        justify-content: center;
        user-select: none;
        border-top: 0 solid $color-primary-transparent;
        border-bottom: 0 solid transparentize($color-primary, 1);
        transition: background-color $animation-duration, border-bottom-color $animation-duration-short, border-bottom-width $animation-duration-short, border-top-width $animation-duration-short, outline $animation-duration;
        border-radius: 0;

        &:hover {
          color: $color-text-emphase;
          border-bottom-color: $color-primary;
          background-color: $color-secondary-pressed; // Necessary for good contrast over the bg picture.
        }

        &:focus,
        &:focus-visible,
        &:hover,
        &:active {
          color: $color-text-emphase;
          outline-offset: -$outline-offset !important;
          border-radius: 0;
        }

        &.current {
          border-top-width: $current-item-edge-width;
          color: $color-text-emphase;
          border-bottom-width: $current-item-edge-width;
          border-bottom-color: $color-primary;
        }

        &:active {
          color: $color-text-emphase;
          border-bottom-color: $color-primary;
          background-color: $color-secondary-lighter; // Necessary for good contrast over the bg picture.
        }
      }
    }

    .header-mobile-menuitem {
      display: none;

      .icon {
        margin-right: 1ch;
      }
    }

    ul.menu-elements {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 100%;
      justify-content: flex-start;
      margin: unset;
      padding: unset;
      flex-grow: 1;
      gap: $spacing-base / 2;

      hr.mobile-menu-separator {
        margin-top: auto;
        width: 100%;
        border-color: $color-secondary-light;
        margin-bottom: 0;
      }
    }

    .button {
      border-color: $color-text;
      color: $color-text-emphase;
      margin-left: $spacing-base;
      font-size: 1.125 * $font-size;
      padding: #{$spacing-base / 2} #{$spacing-base * 1.5};
      background-color: $color-primary-transparent;

      svg {
        fill: currentColor;
      }
    }

    .language-dropdown {
      height: $navbar-height;
      align-self: flex-end;

      a {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: $spacing-base / 2;
        border: none;
        color: $color-text-emphase;

        &:hover {
          color: $color-text-emphase;
          border: none;
        }

        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: '';
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }
    }

    ul.mobile-languages-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 50% 50%;
      width: 50%;
      gap: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;

      li {
        display: block;
      }
    }
  }

  input.menu-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: none;
    pointer-events: none;
  }

  label.menu-show {
    margin-right: auto;
    color: $color-text-emphase;
    //background-color: $color-secondary-light;
    padding: $spacing-base;
    border-radius: $border-radius-buttons;
    display: none;
    width: fit-content;
    height: fit-content;
    line-height: 0;
    user-select: none;
    cursor: pointer;
    transition: background-color $animation-duration ease, scale $animation-duration ease, color $animation-duration ease, outline $animation-duration ease;
  }

  input.menu-checkbox:checked + label.menu-show {
    background-color: $color-secondary-transparent;
    color: $color-text-caption;
  }

  label.menu-show:hover,
  label.menu-show:focus,
  input.menu-checkbox:checked + label.menu-show:hover,
  input.menu-checkbox:checked + label.menu-show:focus {
    background-color: $color-secondary-lighter;
    scale: 1.1;
  }

  label.menu-show:focus,
  input.menu-checkbox:focus + label.menu-show {
    outline: $color-primary-lighter solid $outline-width;
    outline-offset: 0;
  }

  label.menu-show:active,
  input.menu-checkbox:checked + label.menu-show:active {
    background-color: $color-secondary-lightest;
    scale: 1.2;
  }

  label.menu-close {
    width: fit-content;
    margin-right: #{$spacing-base};
    margin-top: #{$spacing-base / 2};
    color: $color-text-caption;
    font-weight: $font-weight;
    padding: #{$spacing-base * 1.5};
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    display: none;
    transition: background-color $animation-duration ease, color $animation-duration ease, scale $animation-duration ease;
    user-select: none;
    border-radius: $border-radius-buttons;
    border: none;

    &:hover {
      color: $color-text-emphase;
      background-color: $color-secondary-hover;
    }

    &:active {
      color: $color-text-emphase;
      background-color: $color-secondary-pressed;
      scale: 1.1;
    }

    a {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: currentColor;
    }
  }

  .title {
    display: block;
    align-self: flex-start;
    margin-top: $spacing-base / 2;
    margin-bottom: $spacing-base / 2;
    border-radius: 0;
    outline-offset: 2px;
    outline-color: $color-primary-transparent;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75 * $spacing-base;
      height: fit-content;
      width: fit-content;

      .logo-icon {
        height: 2.5 * $icon-height;
        width: auto;
        min-height: 2.5 * $icon-height;
        min-width: 2.5 * $icon-height;
        max-height: 2.5 * $icon-height;
        max-width: 2.5 * $icon-height;
      }

      .logo-text {
        height: 2.5 * $icon-height;
        width: auto;
        max-height: 100%;
      }
    }
  }

  .searchbox-container {
    margin: auto 0;
    display: block;
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
    position: relative;
    align-self: flex-end;

    .icon {
      width: $icon-height;
      height: $icon-height;
      display: block;
      position: absolute;
      left: 0.75 * $spacing-base;
      top: calc(50% - #{$spacing-base / 2});
      pointer-events: none;

      svg,
      svg * {
        fill: $color-text-caption;
        transition: fill $animation-duration;
      }
    }

    &:hover,
    &:focus-within {
      .icon {
        svg,
        svg * {
          fill: currentColor;
        }
      }
    }

    input.searchbox {
      font-size: $font-size;
      margin: auto 0;
      border-radius: $border-radius-buttons;
      padding: #{$spacing-base / 2} $spacing-base #{$spacing-base / 2} #{$spacing-base * 2};
      height: fit-content;
      border: $textfield-border-width solid $color-secondary-lighter;
      background-color: $color-secondary-hover;
      transition: border-color $animation-duration, outline $animation-duration, background-color $animation-duration;
      max-width: 200px;
      width: 100%;
      color: $color-text-emphase;

      &:hover {
        border-color: $color-secondary-lightest;
      }

      &:focus-visible {
        outline-offset: -$textfield-border-width !important;
      }
      &:focus {
        background-color: $color-secondary-pressed;
      }
    }
  }
}

@media (max-width: $page-max-width) {
  header {
    nav {
      .title {
        .logo {
          .logo-text {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-navbar) {
  header {
    label.menu-show,
    input.menu-checkbox {
      display: block;
    }

    nav {
      height: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul.menu-elements {
        display: none;
        align-items: flex-start;
        align-content: flex-start;

        li {
          min-height: unset;
          width: 100%;
          min-width: 100%;
          margin: 0;
          height: unset;
          font-size: 1em;

          &.home {
            display: unset;
          }
        }
      }

      .title {
        .logo {
          .logo-text {
            display: block;
          }
        }
      }
    }

    label.menu-close {
      display: flex;
    }

    nav ul.menu-elements li a {
      width: 100%;
      padding: #{$spacing-base * 2} #{$spacing-base / 2};
      border: none;
      color: $color-text-emphase;

      &:hover {
        border: none;
      }

      &.current {
        border: none;
        color: $color-primary;

        &:hover {
          color: $color-primary-hover;
        }
      }
    }

    nav input.menu-checkbox:checked ~ ul.menu-elements {
      margin: 0;
      padding: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-wrap: nowrap;
      pointer-events: all;
      position: absolute;
      flex-direction: column;
      width: unset;
      max-width: 100vw;
      flex-basis: 100%;
      height: 100vh;
      justify-content: flex-start;
      background-color: $color-background-popup;
      backdrop-filter: $blur-3;
      z-index: 1;
      overflow-y: auto;
      gap: 0;

      li {
        font-size: $font-size-title-small;

        a {
          padding: #{$spacing-base * 1.5} 0;
        }
      }

      .header-mobile-menuitem {
        display: block;
      }
    }
  }
}

@media (max-width: $breakpoint-phone-portrait) {
  header {
    nav {
      .language-dropdown {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint-phone-portrait) {
  header {
    nav {
      .searchbox-container {
        display: none;
      }

      .language-dropdown {
        display: none;
      }

      .menu-show {
        margin-right: 0;
        margin-left: auto;
      }

      .title {
        .logo {
          .logo-text {
            display: block;
          }
        }
      }
    }
  }

  @media (max-width: #{$breakpoint-phone-portrait-small + $content-padding}) {
    header {
      nav {
        .title {
          .logo {
            .logo-text {
              display: none;
            }
          }
        }
      }
    }
  }
}
