ul,
ol {
  margin-bottom: 1rem;
  margin-left: 1rem;

  li {
    margin-bottom: 0.25rem;

    &::marker {
      color: $color-text-caption;
    }

    p {
      display: inline;
    }
  }
}
ul {
  list-style: disc inside none;
}
ol {
  list-style: decimal inside none;
}
