ul.news-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-base * 2;
  margin: 0 auto;
  margin-bottom: $spacing-base * 3;
  justify-content: center;

  li.news-list-item {
    width: $game-thumbnail-width;
    min-height: $game-thumbnail-height;
    margin: 0;
    display: block;
    box-shadow: $elevation-1;
    border-radius: $border-radius;
    max-width: 100%;
  }
}

a.news-item {
  background-color: $color-secondary-light;
  border-radius: $border-radius;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline-offset: 0 !important;

  &:hover {
    background-color: $color-secondary-lighter;
    box-shadow: $elevation-3;
    transform: scale(1.025);
    -webkit-transform: scale(1.025);

    svg,
    svg path {
      fill: $color-text-caption;
    }
  }
  &:active {
    box-shadow: $elevation-4;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  .news-item-information {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: $spacing-base;
    color: $color-text;
    font-weight: normal;
    font-size: $font-size;
    gap: $spacing-base / 2;
    height: 100%;

    .news-item-title {
      color: $color-text-title;
      font-size: $font-size-title-medium;
      font-weight: bold;
      font-family: $font-family-title;
    }

    .news-item-metadata {
      color: $color-text-caption;
      font-size: $font-size-caption;
      display: flex;
      flex-direction: row;
      gap: $spacing-base / 2;

      .news-item-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $spacing-base / 4;

        svg {
          width: $icon-height;
          height: $icon-height;
          fill: $color-text-caption;
        }
      }

      .news-item-tags {
        display: flex;
        flex-direction: row;
        gap: $spacing-base / 4;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */

        .news-item-tag {
          background: $color-secondary-hover;
          padding: 0 #{$spacing-base / 2};
          border-radius: $border-radius-buttons;
          font-size: $font-size-caption-smaller;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .news-item-excerpt {
      color: $color-text;
      font-size: $font-size;
      word-wrap: break-word;
      flex-grow: 1;
    }
  }

  .news-item-image {
    display: block;
    margin: 0;
    max-width: unset;
    min-width: 100%;
    height: $game-thumbnail-width / 3;
    object-fit: cover;
    object-position: center;
  }
}

.news-list-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $spacing-base * 2;
}
