/* Links */
a {
  color: $color-link;
  text-decoration: none;
  font-weight: bold;
  transition: $animation-duration ease;
  outline-color: $color-primary-transparent;
  outline-offset: $outline-offset-start;

  &:hover,
  &:focus {
    color: $color-link-hover;

    svg.icon,
    svg.icon * {
      fill: $color-link-hover;
    }
  }
  &:active {
    color: $color-link-active;

    svg.icon,
    svg.icon * {
      fill: $color-link-active;
    }
  }

  svg.icon,
  svg.icon * {
    transition: $animation-duration ease;
  }
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: $color-text-title;
  font-weight: $font-weight-title;
  letter-spacing: $letter-spacing-title;
  line-height: 1em;

  code {
    padding: unset;
    background-color: unset;
    font-size: unset;
    font-family: $font-family-code;
  }

  a {
    font-weight: inherit;
    color: inherit;

    &:focus,
    &:hover {
      color: $color-primary-hover;
    }
    &:active {
      color: $color-primary-pressed;
    }
  }
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

  &:first-of-type {
    margin-top: 0;
  }
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}
strong {
  font-weight: $font-weight-bold;
}

/* Paragraph */
p {
  margin-top: 0;
  margin-bottom: 0.85rem;
  line-height: 1.75rem;

  code {
    font-size: inherit;
  }

  strong {
    color: $color-text-emphase;
  }
}

hr {
  border-top: $textfield-border-width solid $color-primary;
  width: 100%;
  height: $textfield-border-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-base / 4;
  margin-bottom: $spacing-base / 4;
}

kbd {
  background-color: $color-secondary-lightest;
  border-bottom: 2px solid $color-secondary-light;
  padding: 2px 6px;
  font-family: $font-family;
  font-size: $font-size-caption;
  border-radius: $border-radius / 2;
}

.elide-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

blockquote {
  padding: #{$spacing-base / 2} $spacing-base;
  background-color: $color-secondary;
  border-radius: $border-radius / 2;
  margin-bottom: $spacing-base;
  border-left: 4px solid $color-primary;

  p:last-of-type {
    margin-bottom: 0;
  }
}
