.walkthrough-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;

  .walkthrough-item {
    display: flex;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $elevation-1;
    outline-offset: 0;

    &:hover {
      box-shadow: $elevation-3;
      transform: scale(1.025);
      -webkit-transform: scale(1.025);
    }
    &:active {
      box-shadow: $elevation-4;
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
    }
  }
}

.walkthrough-page-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-base / 2;
  padding: 0;
  margin: 0;

  .walkthrough-page-list-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-base;
    padding: $spacing-base #{$spacing-base * 1.5};
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $elevation-1;
    outline-offset: 0;
    background-color: $color-secondary;
    font-weight: normal;
    color: $color-text;

    .walkthrough-page-list-item-number {
      font-size: 2em;
      font-family: $font-family-title;
      color: $color-text;
      text-align: right;
      min-width: 2.5ch;
      color: $color-text-caption;
    }

    .walkthrough-page-list-item-text {
      display: flex;
      flex-direction: column;
      gap: $spacing-base / 8;
      flex-grow: 1;

      .walkthrough-page-list-item-text-title {
        transition: color $animation-duration ease;
        font-size: $font-size-title-small;
      }

      .walkthrough-page-list-item-text-excerpt {
        font-size: $font-size;
        color: $color-text-caption;
      }
    }

    .icon {
      width: $icon-height * 2;
      height: $icon-height * 2;
      transition: transform #{$animation-duration * 2} ease, color $animation-duration ease;
      transform: translate(#{-$spacing-base / 2}, 0);
      color: $color-text-caption;

      svg,
      svg path {
        fill: currentColor;
      }
    }

    &:hover {
      background-color: $color-secondary-hover;
      box-shadow: $elevation-2;
      transform: scale(1.01);
      -webkit-transform: scale(1.01);

      .walkthrough-page-list-item-text-title {
        color: $color-link-hover;
      }

      .icon {
        transform: translate(0, 0);
        color: $color-text;
      }
    }
    &:focus,
    &:active {
      background-color: $color-secondary-pressed;
      box-shadow: $elevation-3;
      transform: scale(1.025);
      -webkit-transform: scale(1.025);

      .walkthrough-page-list-item-text-title {
        color: $color-link-active;
      }

      .icon {
        transform: translate(0, 0);
        color: $color-text;
      }
    }
  }
}

.walkthrough-chapter-list-aside {
  background: $color-background-navbar;
  border-radius: $border-radius;
  box-shadow: $elevation-1;

  @media (max-width: $breakpoint-tablet-portrait) {
    display: none;
  }

  .walkthrough-chapter-list {
    //list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0;
    max-width: $chapter-aside-max-width;
    overflow: hidden;

    .walkthrough-chapter-list-item {
      display: flex;
      flex-direction: row;
      margin: 0;
      align-items: baseline;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $spacing-base / 4;
        padding: #{0.5 * $spacing-base} $spacing-base #{0.5 * $spacing-base} #{0.5 * $spacing-base};
        overflow: hidden;
        outline-offset: -$outline-offset;
        font-weight: normal;
        flex-grow: 1;
        color: $color-text-caption;

        .walkthrough-chapter-list-item-number {
          display: block;
          font-size: $font-size;
          color: $color-text;
          text-align: right;
          min-width: 3ch;
          color: $color-text-caption-darker;
          user-select: none;
          transition: color $animation-duration ease;
          align-self: baseline;
          font-variant-numeric: tabular-nums;

          &.current {
            color: $color-text-caption;
          }
        }

        .walkthrough-chapter-list-item-text {
          flex-grow: 1;
          transition: color $animation-duration ease;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
        }

        &:hover {
          background-color: $color-secondary-hover;

          .walkthrough-chapter-list-item-text {
            color: $color-link-hover;
          }
          .walkthrough-chapter-list-item-number {
            color: $color-text-caption;
          }
        }
        &:focus,
        &:active {
          background-color: $color-secondary-pressed;

          .walkthrough-chapter-list-item-text-text {
            color: $color-link-active;
          }
        }

        &.current {
          color: $color-text;
          background-color: $color-secondary-hover;
        }
      }
    }
  }
}

.walkthrough-chapter-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: $spacing-base * 2;

  @media (max-width: $breakpoint-tablet-portrait) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.navigation-buttons {
  grid-column: 2;
  display: grid;
  grid-template-columns: calc(50% - #{$spacing-base / 2}) calc(50% - #{$spacing-base / 2});
  gap: $spacing-base;
  justify-content: space-between;
  min-width: 100%;
  max-width: 100%;

  .navigation-button {
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-base;
    padding: #{$spacing-base / 2} #{$spacing-base};
    border-radius: $border-radius;
    color: $color-text;
    font-weight: normal;
    width: 100%;
    box-shadow: $elevation-2;
    outline-offset: 0;

    .navigation-button-text {
      max-width: calc(100% - #{$spacing-base * 2 + $icon-height * 1.5});
      flex-grow: 1;

      .navigation-button-role {
        font-size: $font-size-caption;
        color: $color-text-caption;
        font-weight: normal;
        font-family: $font-family-title;
        text-transform: uppercase;
        line-height: 1.5em;
      }

      .navigation-button-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color $animation-duration ease;
        max-width: 100%;

        .navigation-button-number {
          color: $color-text-caption-lighter;
          margin-right: 0.5ch;
        }
      }
    }

    &.previous {
      justify-self: start;
      grid-column: 1;
    }

    &.next {
      justify-self: end;
      grid-column: 2;

      .navigation-button-text {
        text-align: right;
      }
    }

    .icon {
      width: $icon-height * 1.5;
      height: $icon-height * 1.5;

      svg,
      svg path {
        fill: $color-text;
      }
    }

    &:hover {
      background-color: $color-secondary-hover;
      box-shadow: $elevation-3;
      transform: scale(1.015);
      -webkit-transform: scale(1.015);

      .navigation-button-title {
        color: $color-link-hover;
      }
    }

    &:focus,
    &:active {
      background-color: $color-secondary-pressed;
      box-shadow: $elevation-4;
      transform: scale(1.025);
      -webkit-transform: scale(1.025);

      .navigation-button-title {
        color: $color-link-active;
      }
    }

    @media (max-width: $breakpoint-tablet-portrait) {
      width: 100%;
    }
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    grid-column: 1;
  }
}
