{{- $redirectoDefault := cond (isset .Params "redirecttodefault") .Params.RedirectToDefault false -}}
{{- if $redirectoDefault -}}
  {{- $defaultLangPagePermalink := "" -}}
  {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
    {{- $defaultLangPagePermalink = .RelPermalink -}}
  {{- end -}}
  <!DOCTYPE html>
  <html>
    <head>
      <title>{{ $defaultLangPagePermalink }}</title>
      <link rel="canonical" href="{{ $defaultLangPagePermalink }}" />
      <meta name="robots" content="noindex" />
      <meta charset="utf-8" />
      <meta http-equiv="refresh" content="0; url={{ $defaultLangPagePermalink }}" />
    </head>
    <body>
      <h1>Rerouting</h1>
      <p>This page isn't available in your language. You should now be automatically redirected to the English page.</p>
      <p>If not, <a href="{{ $defaultLangPagePermalink }}">click here</a>.</p>
    </body>
  </html>
{{- else -}}
  <!DOCTYPE html>
  <html lang="{{ .Lang }}">
    {{- partial "head.html" . -}}
    <body>
      {{- partial "header.html" . -}}
      {{- partial "components/breadcrumb.html" . -}}
      {{- block "main" . -}}{{- end -}}
      {{- partial "footer.html" . -}}
      {{- partialCached "components/search" . -}}
    </body>
  </html>
{{- end -}}
