<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="canonical" href="{{ site.Params.oldDocsURL }}" />
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{ site.Params.oldDocsURL }}" />
  </head>
  <body>
    <h1>Rerouting</h1>
    <p>The new docs website is under construction. You should now be automatically redirected to the old docs website.</p>
    <p>If not, <a href="{{ site.Params.oldDocsURL }}">click here</a>.</p>
  </body>
</html>
