{{ define "main" }}
  <div class="container content content-container" role="main">
    <article role="main">
      <div class="list-header">
        <h1>{{ .Title | safeHTML }}</h1>
      </div>
      {{ .Content }}
    </article>
    <ul class="list-items">
      {{ range .Pages }}
        <li class="list-item">
          <a class="list-item-content" href="{{ .RelPermalink }}">
            {{- $coverResource := .Resources.GetMatch .Params.Thumbnail -}}
            {{- if not $coverResource -}}
              {{- $coverResource = resources.Get "img/default_article_thumbnail.jpg" -}}
            {{- end -}}
            {{- $resizedCoverResource := $coverResource.Fit "700x360 jpg" -}}
            <img loading="lazy" class="list-item-image" src="{{- $resizedCoverResource.RelPermalink -}}" />
            <div class="list-item-title">{{- .Title | safeHTML -}}</div>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
