{{- define "main" -}}
  <div class="home-wrapper">
    <div role="main" class="home content content-home">
      <div class="container">
        <div class="home-hero">
          <img loading="lazy" class="home-image" src="/img/homepage-image.webp" />

          <h3 class="home-tagline">{{- i18n "homeTagline" | safeHTML -}}</h3>

          <div class="home-features">
            <div class="home-feature">
              <img loading="lazy" class="home-feature-img" src="/img/illustrations/graphical-game-editor.svg" />
              <div class="home-feature-text">{{- i18n "homeFeatureGUI" | safeHTML -}}</div>
            </div>
            <div class="home-feature">
              <img loading="lazy" class="home-feature-img" src="/img/illustrations/lua-logo-monochrome.svg" />
              <div class="home-feature-text">{{- i18n "homeFeatureLanguage" | safeHTML -}}</div>
            </div>
            <div class="home-feature">
              <img loading="lazy" class="home-feature-img" src="/img/illustrations/gpl-v3-logo-monochrome.svg" />
              <div class="home-feature-text">{{- i18n "homeFeatureFOSS" | safeHTML -}}</div>
            </div>
          </div>

          <div class="home-cta-buttons">
            {{- partial "components/button.html" (dict
              "text" (i18n "homeDownload" | safeHTML)
              "icon" "download"
              "href" "/download"
              "class" "home-cta-button")
            -}}
            {{- partial "components/button.html" (dict
              "text" (i18n "homeGettingStarted" | safeHTML)
              "icon" "arrow-right"
              "href" .Site.Params.tutorialsURL
              "role" "secondary"
              "align" "right"
              "class" "home-cta-button")
            -}}
          </div>

          <div class="home-engine-information">
            <span>{{- (i18n "homeStableVersion" .Site.Data.solarus.latestStableVersion) | safeHTML -}}</span>
            <span class="home-engine-information-bullet">•</span>
            <span>{{- (i18n "homeUpdatedOnDate" (.Site.Data.solarus.latestRelease | time.Format ":date_long")) | safeHTML -}}</span>
          </div>

          <div class="home-platforms-logos">
            {{- $platformLogos := slice "windows" "apple" "linux" "android" "nintendoswitch" -}}
            {{- range $platformLogos -}}
              <div class="home-platforms-logo">{{- partial "components/icon.html" . -}}</div>
            {{- end -}}
          </div>
        </div>
      </div>

      <!-- Discover (video) -->
      <div class="home-section home-discover">
        <div class="container">
          <h3 class="home-title">{{- i18n "homeDiscover" | safeHTML -}}</h3>
          {{- partial "components/youtube-player.html" (dict "id" "vt07FwzLo9A") -}}
          <img loading="lazy" class="home-section-icon" src="/img/branding/owl_icon.svg" />
          <p>{{- i18n "homeDiscoverDescription" | safeHTML -}}</p>
          {{- partial "components/button.html" (dict
            "text" (i18n "homeDiscoverButton" | safeHTML)
            "icon" "arrow-right"
            "href" (.Site.GetPage "/features").RelPermalink
            "role" "secondary"
            "align" "right"
            "class" "centered")
          -}}
        </div>
      </div>

      <!-- Game list -->
      <div class="home-section home-games">
        <div class="container">
          {{- $gamesPage := .Site.GetPage "/games" -}}
          <h3 class="home-title">{{- $gamesPage.Title | safeHTML -}}</h3>
          {{- partial "components/home-game-list.html" . -}}
          <img loading="lazy" class="home-section-icon" src="/img/branding/quest_library_icon.svg" />
          <p>{{- i18n "homeGamesDescription" | safeHTML -}}</p>
          {{- partial "components/button.html" (dict
            "text" (i18n "homeGamesButton" | safeHTML)
            "icon" "arrow-right"
            "href" $gamesPage.RelPermalink
            "role" "secondary"
            "align" "right"
            "class" "centered")
          -}}
        </div>
      </div>

      <!-- News list -->
      <div class="home-section home-news">
        <div class="container">
          {{- $newsPage := .Site.GetPage "/news" -}}
          <h3 class="home-title">{{- $newsPage.Title | safeHTML -}}</h3>
          <ul class="news-list">
            {{- range first .Site.Params.Home.maxListElementCount (where .Site.RegularPages "Section" "news") -}}
              <li class="news-list-item" title="{{- .Title | safeHTML -}}">
                {{- partial "components/news-item.html" . -}}
              </li>
            {{- end -}}
          </ul>
          <img loading="lazy" class="home-section-icon" src="/img/branding/blog_icon.svg" />
          <p>{{- i18n "homeNewsDescription" | safeHTML -}}</p>
          {{- partial "components/button.html" (dict
            "text" (i18n "homeNewsButton" | safeHTML)
            "icon" "arrow-right"
            "href" $newsPage.RelPermalink
            "role" "secondary"
            "align" "right"
            "class" "centered")
          -}}
        </div>
      </div>
    </div>
  </div>
{{- end -}}
