{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
    <article role="main">
      {{- .Content -}}
    </article>
  </div>
  <div class="container content content-container">
    {{- $walkthoughsRoot := .Site.GetPage "/walkthroughs" -}}
    {{- if eq .RelPermalink $walkthoughsRoot.RelPermalink -}}
      <ul class="walkthrough-list" id="walkthrough-list">
        {{- range .Pages -}}
          <li class="walkthrough-list-item" title="{{- .Title | safeHTML -}}">
            {{- partial "components/walkthrough-item.html" . -}}
          </li>
        {{- end -}}
      </ul>
    {{- else -}}
      <ul class="walkthrough-page-list">
        {{- range $index, $element := sort .Pages "File.Path" -}}
          <li class="walkthrough-page-list-item" title="{{- $element.Title | safeHTML -}}">
            <a href="{{ $element.RelPermalink }}">
              <div class="walkthrough-page-list-item-number">{{- add $index 1 -}}.</div>
              <div class="walkthrough-page-list-item-text">
                <div class="walkthrough-page-list-item-text-title">{{- $element.Title | safeHTML -}}</div>
                <div class="walkthrough-page-list-item-text-excerpt">{{- $element.Params.Excerpt -}}</div>
              </div>
              {{- partial "components/icon.html" "arrow-right" -}}
            </a>
          </li>
        {{- end -}}
      </ul>
    {{- end -}}
  </div>
{{- end -}}
