{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{ .Title | safeHTML }}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container">
    <main class="walkthrough-chapter-grid">
      {{- partial "components/chapter-list.html" . -}}
      <article role="main">
        {{- .Content -}}
      </article>
      {{- partial "components/navigation-buttons.html" . -}}
    </main>
  </div>
{{- end -}}
