<ul class="game-list">
  {{- $featuredGameIDs := .Site.Params.Home.featuredGames -}}
  {{- $allGames := where .Site.RegularPages "Section" "games" -}}
  {{- $featuredGames := slice -}}
  {{- range $allGames -}}
    {{- $defaultLangPage := . -}}
    {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
      {{- $defaultLangPage = . -}}
    {{- end -}}
    {{- $gameId := $defaultLangPage.Params.Id -}}
    {{- if in $featuredGameIDs  $gameId -}}
      {{- $featuredGames = $featuredGames | append . -}}
    {{- end -}}
  {{- end -}}

  {{- range first 3 $featuredGames -}}
    <!-- Find the page for the default language -->
    {{- $defaultLangPage := . -}}
    {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
      {{- $defaultLangPage = . -}}
    {{- end -}}
    <!-- Build an object that merges both default language and current one -->
    {{- $pageDict := dict
      "Thumbnail"           ($defaultLangPage.Resources.GetMatch $defaultLangPage.Params.Thumbnail)
      "RelPermalink"        .RelPermalink
      "Resources"           $defaultLangPage.Resources
      "Title"               ($defaultLangPage.Title | safeHTML)
      "InitialReleaseDate"  $defaultLangPage.Params.InitialReleaseDate
    -}}
    <li class="game-list-item" title="{{- $pageDict.Title | safeHTML -}}">
      {{- partial "components/game-item.html" $pageDict -}}
    </li>
  {{- end -}}
</ul>
