{{- define "main" -}}
  <!-- Build a dict that fallbacks to default language page if a value is not present in page -->
  {{- $currentPage := . -}}
  {{- $defaultPage := $currentPage -}}
  {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
    {{- $defaultPage = . -}}
  {{- end -}}
  {{- $params := dict
    "Age"                 (cond (eq $currentPage.Params.Age nil) $defaultPage.Params.Age $currentPage.Params.Age)
    "Controls"            (cond (eq $currentPage.Params.Controls nil) $defaultPage.Params.Controls $currentPage.Params.Controls)
    "Download"            (cond (eq $currentPage.Params.Download nil) $defaultPage.Params.Download $currentPage.Params.Download)
    "DownloadType"        (cond (eq $currentPage.Params.DownloadType nil) $defaultPage.Params.DownloadType $currentPage.Params.DownloadType)
    "Developer"           (cond (eq $currentPage.Params.Developer nil) $defaultPage.Params.Developer $currentPage.Params.Developer)
    "Excerpt"             (cond (eq $currentPage.Params.Excerpt nil) $defaultPage.Params.Excerpt $currentPage.Params.Excerpt)
    "Genre"               (cond (eq $currentPage.Params.Genre nil) $defaultPage.Params.Genre $currentPage.Params.Genre)
    "Id"                  (cond (eq $currentPage.Params.Id nil) $defaultPage.Params.Id $currentPage.Params.Id)
    "InitialReleaseDate"  (cond (eq $currentPage.Params.InitialReleaseDate nil) $defaultPage.Params.InitialReleaseDate $currentPage.Params.InitialReleaseDate)
    "Languages"           (cond (eq $currentPage.Params.Languages nil) $defaultPage.Params.Languages $currentPage.Params.Languages)
    "License"             (cond (eq $currentPage.Params.License nil) $defaultPage.Params.License $currentPage.Params.License)
    "LatestUpdateDate"    (cond (eq $currentPage.Params.LatestUpdateDate nil) $defaultPage.Params.LatestUpdateDate $currentPage.Params.LatestUpdateDate)
    "MaximumPlayers"      (cond (eq $currentPage.Params.MaximumPlayers nil) $defaultPage.Params.MaximumPlayers $currentPage.Params.MaximumPlayers)
    "MinimumPlayers"      (cond (eq $currentPage.Params.MinimumPlayers nil) $defaultPage.Params.MinimumPlayers $currentPage.Params.MinimumPlayers)
    "Screenshots"         (cond (eq $currentPage.Params.Screenshots nil) $defaultPage.Params.Screenshots $currentPage.Params.Screenshots)
    "SolarusVersion"      (cond (eq $currentPage.Params.SolarusVersion nil) $defaultPage.Params.SolarusVersion $currentPage.Params.SolarusVersion)
    "SourceCode"          (cond (eq $currentPage.Params.SourceCode nil) $defaultPage.Params.SourceCode $currentPage.Params.SourceCode)
    "Thumbnail"           (cond (eq $currentPage.Params.Thumbnail nil) $defaultPage.Params.Thumbnail $currentPage.Params.Thumbnail)
    "Title"               (cond (eq $currentPage.Params.Title nil) $defaultPage.Params.Title $currentPage.Params.Title)
    "Version"             (cond (eq $currentPage.Params.Version nil) $defaultPage.Params.Version $currentPage.Params.Version)
    "Walkthroughs"        (cond (eq $currentPage.Params.Walkthroughs nil) $defaultPage.Params.Walkthroughs $currentPage.Params.Walkthroughs)
    "Website"             (cond (eq $currentPage.Params.Website nil) $defaultPage.Params.Website $currentPage.Params.Website)
  -}}
  {{- $content := cond (eq $currentPage.Content nil) $defaultPage.Content $currentPage.Content -}}
  <div class="game-header container">
    <!-- {{- $params -}} -->
    <div class="game-header-left-column">
      <img loading="lazy" src="{{ $params.Thumbnail }}" class="game-header-thumbnail" />
      <div class="game-header-metadata">
        <h1>{{- $params.Title | safeHTML -}}</h1>
        <p>{{- $params.Excerpt | safeHTML -}}</p>
        {{- $version := cond (isset $params "version") (print "v" $params.Version) nil -}}
        {{- $metadataArray := slice $version -}}
        {{- $downloadType := cond (isset $params "downloadtype") $params.DownloadType "solarus" -}}
        {{- if (eq $downloadType "solarus") -}}
          {{- with $params.Download -}}
            {{- $downloadUrl := . -}}
            {{- partial "components/button.html" (dict
              "text" (i18n "gameDownload" | safeHTML)
              "icon" "download"
              "href" $downloadUrl
              "role" "secondary"
              "class" "download-item-button")
            -}}
            <div class="game-download-metadata">
              {{ $version }}
              {{- with $version -}}<span class="game-download-metadata-bullet">•</span>{{- end -}}{{- i18n "gameAllPlatforms" | safeHTML -}}<span class="game-download-metadata-bullet">•</span>{{- i18n "gameSolarusFile" | safeHTML -}}
            </div>
          {{- else -}}
            {{- partial "components/button.html" (dict
              "text" (i18n "gameNotReleased" | safeHTML)
              "icon" "download"
              "href" ""
              "role" "secondary"
              "class" "download-item-button disabled")
            -}}
          {{- end -}}
        {{- else -}}
          {{- with $params.Download -}}
            {{- $downloadUrl := . -}}
            {{- partial "components/button.html" (dict
              "text" (i18n "gameExternalDownload" | safeHTML)
              "icon" "arrow-right-simple"
              "href" $downloadUrl
              "role" "secondary"
              "align" "right"
              "class" "download-item-button")
            -}}
            <div class="game-download-metadata">
              {{ $version }}
              {{- with $version -}}<span class="game-download-metadata-bullet">•</span>{{- end -}}{{- $downloadType -}}
            </div>
          {{- end -}}
        {{- end -}}

      </div>
    </div>
    <div class="game-header-right-column">
      <h2>{{- i18n "gameInformation" | safeHTML -}}</h2>
      {{- partial "components/game-info-table.html" $params -}}
      <div class="game-header-dummy-spacer"></div>
    </div>
  </div>

  <div class="container content content-container game-content">
    <div class="game-content-left-column">
      <h2>{{- i18n "gameDescription" | safeHTML -}}</h2>
      <article role="main">
        {{- $content -}}
      </article>
      {{- if (isset $params "Walkthroughs") -}}
        <h2>{{- i18n "gameWalkthrough" | safeHTML -}}</h2>
        <ul class="game-walkthough-list">
          {{- $pagePermalink := $currentPage.RelPermalink -}}
          {{- range $params.Walkthroughs -}}
            <li class="game-walkthough-list-item">
              {{- if eq .type "walkthrough" -}}
                {{- $walkthroughPageUrl := replaceRE "(.*?)/games/(.*?)/" "/walkthroughs/$2" $pagePermalink -}}
                {{- $walkthroughPage := site.GetPage $walkthroughPageUrl -}}
                <a href="{{ $walkthroughPage.RelPermalink }}">
                  <span class="game-walkthough-list-item-text">{{- i18n "gameWalkthroughTextual" | safeHTML -}}</span>
                  {{- partial "components/icon.html" "arrow-right" -}}
                </a>
              {{- else if eq .type "video" -}}
                <a href="{{ .url }}">
                  <span class="game-walkthough-list-item-text">{{- i18n "gameWalkthroughVideo" | safeHTML -}}</span>
                  {{- partial "components/icon.html" "arrow-right" -}}
                </a>
              {{- end -}}
            </li>
          {{- end -}}
        </ul>
      {{- end -}}
    </div>
    <div class="game-content-right-column">
      <h2>{{- i18n "gameScreenshots" | safeHTML -}}</h2>
      <div class="game-screenshots">
        {{- range $params.Screenshots -}}
          <a class="game-screenshot" data-clickable-image="true" href="{{ . }}">
            <img loading="lazy" src="{{ . }}" />
          </a>
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}
